.cardsDiv {
  display: grid;
  grid-template-columns: auto auto;
  gap: 50px;
  position: relative;
  bottom: 100px;
  justify-content: center;
}
.cardFlex:hover i {
  color: rgb(220, 220, 220);
  opacity: 0.5;
}
@media only screen and (max-width: 750px) {
  .cardsDiv {
    grid-template-columns: auto;
    position: static;
    margin-top: 50px;
    gap: 15px;
    margin-bottom: 40px;
  }
}
